<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hapticapplication">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HapticApplication"
        tools:targetApi="31">
        <activity
            android:name=".AAHapticMainQualAns"
            android:exported="false"
            android:label="@string/title_activity_qual_ans"
            android:theme="@style/Theme.HapticApplication.NoActionBar" />
        <activity
            android:name=".GestureSurvey"
            android:exported="false" />
        <activity
            android:name=".PatternSurvey"
            android:exported="false" />
        <activity
            android:name=".ButtonSurvey"
            android:exported="false" />
        <activity
            android:name=".TutorialGesture"
            android:exported="false" />
        <activity
            android:name=".TutorialPattern"
            android:exported="false" />
        <activity
            android:name=".TutorialButton"
            android:exported="false" />
        <activity
            android:name=".FiveGestureCond"
            android:exported="false" />
        <activity
            android:name=".FourGestureCond"
            android:exported="false" />
        <activity
            android:name=".AAInputGesture"
            android:exported="false" />
        <activity
            android:name=".FivePatternCond"
            android:exported="false" />
        <activity
            android:name=".FourPatternCond"
            android:exported="false" />
        <activity
            android:name=".AAInputPattern"
            android:exported="false" />
        <activity
            android:name=".FiveButtonCond"
            android:exported="false" />
        <activity
            android:name=".AAInputButton"
            android:exported="false" />
        <activity
            android:name=".ButtonCond"
            android:exported="false" />
        <activity
            android:name=".AAHapticMainSettings"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".AAHapticMainPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>